[workspace]
members = [
    ".",
    "whatsapp-proto",
]

[package]
name = "whatsapp-rust"
version = "0.1.0"
edition = "2021"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
whatsapp-proto = { path = "./whatsapp-proto" }
serde_json = "1.0"
serde = { version = "1.0.188", features = ["derive"] }
serde_with = { version = "3.5.0", features = ["base64"] }

# Time handling
chrono = { version = "0.4", features = ["now", "serde"], default-features = false }
prost = { version = "0.14.1", default-features = false }
bytes = { version = "1.5", default-features = false }

# Cryptography
getrandom = "0.2.16"
x25519-dalek = { version = "2.0.1", features = ["static_secrets"] }
ed25519-dalek = { version = "2.1.1", default-features = false }
curve25519-dalek = { version = "4.1.3", default-features = false }
rand = { version = "0.8.5", default-features = false }
aes-gcm = { version = "0.10.2", features = ["aes", "alloc"], default-features = false }
cbc = { version = "0.1.2", features = ["alloc"] }
cipher = "0.4"
aes = "0.8.3"
sha2 = "0.10.6"
hmac = "0.12.1"
hkdf = "0.12.3"
serde_bytes = "0.11"
thiserror = "2.0.12"

# Zlib decompression for WABinary
flate2 = { version = "1.0", default-features = false, features = ["any_zlib", "libz-sys"] }
serde-big-array = "0.5"
hex = { version = "0.4", features = ["alloc"], default-features = false }
once_cell = { version = "1.19", default-features = false }
futures-util = { version = "0.3.31", default-features = false }
env_logger = { version = "0.11", default-features = false }
tokio = { version = "1.45.1", features = ["fs", "macros", "net", "rt-multi-thread", "signal", "sync", "time"] }
log = "0.4.27"
tokio-tungstenite = { version = "0.27.0", features = ["native-tls"] }
anyhow = { version = "1.0", default-features = false }
base64 = { version = "0.22.1", default-features = false }
urlencoding = "2.1"
md5 = { version = "0.7.0", default-features = false }
async-trait = "0.1.88"
scopeguard = "1.2"
xeddsa = "1.0.2"
subtle = "2.6.1"
ureq = "3.0.12"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true

